@import "src/assets/styles/media-breakpoints.styles";

.homepage-title {
  position: relative;
  top: -4.2rem;
  font-size: 6.4rem;
  font-weight: 700;
  z-index: 3;
}

.homepage-liveSearchWrap {
  position: relative;
}

.homepage-liveSearch {
  z-index: 4;
  position: absolute;
  left: 0;
  width: 100%;
}

@media (min-width: $min-md-width) {
  .homepage-movies {
    margin-top: 15rem;
    max-width: 70%;
    margin-left: auto;
  }
}

@media (max-width: $max-md-width) {
  .homepage-title {
    top: -2.2rem;
    font-size: 4rem;
  }
  .homepage-movies {
    margin-top: 10rem;
  }
}

@media (max-width: $max-sm-width) {
  .homepage-title {
    font-size: 3rem;
  }

  .homepage-movies {
    margin-top: 5rem;
  }
}
