@import "src/assets/styles/media-breakpoints.styles";

.homepage-title {
  position: relative;
  top: -4.2rem;
  font-size: 6.4rem;
  font-weight: 700;
  z-index: 3;
}
.homepage-movies {
  margin-top: 15rem;
  max-width: 76.5rem;
  margin-left: auto;
}

@media (max-width: $max-md-width) {
  .homepage-title {
    top: -2.2rem;
    font-size: 4rem;
  }
}

@media (max-width: $max-sm-width) {
  .homepage-title {
    font-size: 3rem;
  }
}
