@import "colors.styles";
@import "fonts.styles";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Montserrat", Arial, sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1;
  color: #fff;
  background: $mainBackground;
}

a {
  text-decoration: none;
}

button {
  background-color: transparent;
  border: none;
}

button:focus {
  outline: none;
}
